@import "colors";


* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

a {
   text-decoration: none;
   color: #0b0b0b;
   cursor: pointer;
}

li {
   cursor: pointer;
}


header {
   height: 30vh;
   display: flex;
   flex-direction: column;
}

.topHeader1 {

   display: flex;
   background-color: $topHeaderColor;
   flex-basis: 15%;
   align-items: center;
   border-bottom: 1px solid rgba(0, 0, 0, 0.068);

   .topHeader1_basic {
      display: flex;
      justify-content: space-between;
      padding-left: 10px;

      font-size: 12px;



      .Aerospace {
         color: #0b0b0b;
         padding: 11px 12px 12px 14px;
         color: $linkColor;
      }


      .country {
         color: $country_language_color;
         font-weight: 400;
         line-height: 17px;
         padding: 11px 12px 12px 14px;
         border-right: 1px solid rgba(0, 0, 0, 0.057);
         border-left: 1px solid rgba(0, 0, 0, 0.057);
      }

      .language {
         color: $country_language_color;
         font-weight: 400;
         line-height: 17px;
         padding: 11px 12px 12px 14px;
      }

      .country:hover,
      .language:hover {
         text-decoration: underline;
         color: $on_hover_link_color
      }
   }

}







.Aerospace:hover,
.slink:hover {
   text-decoration: underline;
}





.topHeader2 {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   flex-basis: 45%;
   margin: 0px 20px;
   align-items: center;

   .logo {
      align-self: baseline;
      color: $linkColor;

   }


   .searchBarContainer {
      display: flex;
      gap: 2px;
      border: 1px solid rgba(0, 0, 0, 0.489);
      padding: 5px;


      .search {
         border-right: 1px solid rgba(0, 0, 0, 0.183);
         width: 100%;




         .searchBox {
            border: 0px;
            outline: none;
            background-color: inherit;
            padding: 10px;

         }

         .searchBox:focus {
            width: 300px;
            animation-name: increaseWidth;
            animation-duration: .5s;
            animation-iteration-count: 1;
            border: 2px solid #0069af;

            @keyframes increaseWidth {
               0% {
                  width: 0px;
               }

               100% {
                  width: 300px;
               }
            }
         }



         ::placeholder {
            font-style: italic;
            font-size: 12px;
         }

      }




      .searchLink {
         display: flex;
         padding: 10px;
         align-self: center;
         font-size: 12px;
         gap: 4px;


         .slink {
            font-size: 14px;
            color: #5D3166;

         }
      }
   }

}





.topHeader3 {

   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid rgba(0, 0, 0, 0.489);
   flex-basis: 40%;
   margin: 0px 20px;
   align-items: end;
   padding: 10px 0px;


   .optionContainer {
      display: flex;
      gap: 15px;

      .optionCaption {
         position: relative;


         .caption {
            display: flex;
            justify-content: space-between;
            font-size: 16px;

            .minHeading {
               font-size: 16px;
               font-family: sans-serif;
               color: #222222;
               padding: 6px;
               font-weight: bold;

            }
         }


         .options {
            box-sizing: border-box;
            display: none;
            position: absolute;
            background-color: #ffffff;
            min-width: 300px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            font-size: 14px;
            font-family: sans-serif;
            color: #222222;

            .itemContainer {
               display: flex;
               flex-direction: column;


               .item {
                  display: flex;
                  justify-content: space-between;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.153);
                  padding-bottom: 10px;

               }

               .underLine {
                  border-bottom: 4px solid rgba(0, 0, 0, 0.153);
                  opacity: 0;
               }


            }


            .itemContainer:hover .underLine {
               opacity: 1;
               border-bottom: 4px solid #1eaec5;
               animation-name: bottomborder;
               animation-duration: .3s;
               animation-iteration-count: 1;
            }

            @keyframes bottomborder {
               0% {
                  width: 0%;
               }

               100% {
                  width: 100%;
               }
            }


         }
      }

      .optionCaption:hover .options {
         display: block;
      }



   }


}









.arrow {
   justify-content: space-between;
   rotate: 180deg;
}

.subarrow {
   rotate: 90deg;
}


.optionCaption:hover .arrow {
   rotate: 0deg;
}



.options li {
   text-decoration: none;
   list-style-type: none;
   padding: 13px 40px;
}




.subOptions {
   position: absolute;
   display: none;
   height: 100%;
   background-color: #ffffff;
   min-width: 250px;
   z-index: 0;
   border-left: 1px solid #eaeaea;
   box-shadow: 30px 0 143px -15px rgba(0, 0, 0, 0.11);
   min-height: 100%;
   top: 0;
   left: 100%;
   width: 100%;
   font-size: 14px;
   font-family: sans-serif;
   color: #222222;

}

.options>li:hover>.subOptions {
   display: block;
}














.allSearch {
   background-color: #0069af;
   font-weight: 700;
   padding: 12px;
   align-self: baseline;
}

.allSearch a {
   text-decoration: none;
   color: #fff;
   font-size: 14px;
   font-family: sans-serif;
}




// .dropdown-content ul{
//    padding: 10px;
// }

// .dropdown-content li{
//    padding: 10px;
// }


// .optionCaption:hover .dropdown-content {
//    display: block;
// }


// .options {
//    text-decoration: none;
//    list-style-type: none;
//    padding: 30px;
// }

// .options li {
//    border-bottom: 1px solid rgba(0, 0, 0, 0.153);
// }