* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0b0b0b;
  cursor: pointer;
}

li {
  cursor: pointer;
}

header {
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.topHeader1 {
  display: flex;
  background-color: rgba(228, 228, 228, 0.507);
  flex-basis: 15%;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}
.topHeader1 .topHeader1_basic {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-size: 12px;
}
.topHeader1 .topHeader1_basic .Aerospace {
  color: #0b0b0b;
  padding: 11px 12px 12px 14px;
  color: #5D3166;
}
.topHeader1 .topHeader1_basic .country {
  color: #666;
  font-weight: 400;
  line-height: 17px;
  padding: 11px 12px 12px 14px;
  border-right: 1px solid rgba(0, 0, 0, 0.057);
  border-left: 1px solid rgba(0, 0, 0, 0.057);
}
.topHeader1 .topHeader1_basic .language {
  color: #666;
  font-weight: 400;
  line-height: 17px;
  padding: 11px 12px 12px 14px;
}
.topHeader1 .topHeader1_basic .country:hover,
.topHeader1 .topHeader1_basic .language:hover {
  text-decoration: underline;
  color: rgba(14, 74, 112, 0.9411764706);
}

.Aerospace:hover,
.slink:hover {
  text-decoration: underline;
}

.topHeader2 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-basis: 45%;
  margin: 0px 20px;
  align-items: center;
}
.topHeader2 .logo {
  align-self: baseline;
  color: #5D3166;
}
.topHeader2 .searchBarContainer {
  display: flex;
  gap: 2px;
  border: 1px solid rgba(0, 0, 0, 0.489);
  padding: 5px;
}
.topHeader2 .searchBarContainer .search {
  border-right: 1px solid rgba(0, 0, 0, 0.183);
  width: 100%;
}
.topHeader2 .searchBarContainer .search .searchBox {
  border: 0px;
  outline: none;
  background-color: inherit;
  padding: 10px;
}
.topHeader2 .searchBarContainer .search .searchBox:focus {
  width: 300px;
  animation-name: increaseWidth;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  border: 2px solid #0069af;
}
@keyframes increaseWidth {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
  }
}
.topHeader2 .searchBarContainer .search ::-moz-placeholder {
  font-style: italic;
  font-size: 12px;
}
.topHeader2 .searchBarContainer .search ::placeholder {
  font-style: italic;
  font-size: 12px;
}
.topHeader2 .searchBarContainer .searchLink {
  display: flex;
  padding: 10px;
  align-self: center;
  font-size: 12px;
  gap: 4px;
}
.topHeader2 .searchBarContainer .searchLink .slink {
  font-size: 14px;
  color: #5D3166;
}

.topHeader3 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.489);
  flex-basis: 40%;
  margin: 0px 20px;
  align-items: end;
  padding: 10px 0px;
}
.topHeader3 .optionContainer {
  display: flex;
  gap: 15px;
}
.topHeader3 .optionContainer .optionCaption {
  position: relative;
}
.topHeader3 .optionContainer .optionCaption .caption {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.topHeader3 .optionContainer .optionCaption .caption .minHeading {
  font-size: 16px;
  font-family: sans-serif;
  color: #222222;
  padding: 6px;
  font-weight: bold;
}
.topHeader3 .optionContainer .optionCaption .options {
  box-sizing: border-box;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 14px;
  font-family: sans-serif;
  color: #222222;
}
.topHeader3 .optionContainer .optionCaption .options .itemContainer {
  display: flex;
  flex-direction: column;
}
.topHeader3 .optionContainer .optionCaption .options .itemContainer .item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.153);
  padding-bottom: 10px;
}
.topHeader3 .optionContainer .optionCaption .options .itemContainer .underLine {
  border-bottom: 4px solid rgba(0, 0, 0, 0.153);
  opacity: 0;
}
.topHeader3 .optionContainer .optionCaption .options .itemContainer:hover .underLine {
  opacity: 1;
  border-bottom: 4px solid #1eaec5;
  animation-name: bottomborder;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
@keyframes bottomborder {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.topHeader3 .optionContainer .optionCaption:hover .options {
  display: block;
}

.arrow {
  justify-content: space-between;
  rotate: 180deg;
}

.subarrow {
  rotate: 90deg;
}

.optionCaption:hover .arrow {
  rotate: 0deg;
}

.options li {
  text-decoration: none;
  list-style-type: none;
  padding: 13px 40px;
}

.subOptions {
  position: absolute;
  display: none;
  height: 100%;
  background-color: #ffffff;
  min-width: 250px;
  z-index: 0;
  border-left: 1px solid #eaeaea;
  box-shadow: 30px 0 143px -15px rgba(0, 0, 0, 0.11);
  min-height: 100%;
  top: 0;
  left: 100%;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  color: #222222;
}

.options > li:hover > .subOptions {
  display: block;
}

.allSearch {
  background-color: #0069af;
  font-weight: 700;
  padding: 12px;
  align-self: baseline;
}

.allSearch a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
}/*# sourceMappingURL=landingPage.css.map */